@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
        padding-bottom: 1rem;
    }

    .right-content{
        padding: 0px 30px;
    }

   
}

@media(min-width:320px) and (max-width:480px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
    }
    .departments-card{
        flex-wrap: wrap;
    }

    .patient-round-div{
        left: 35px;
       
    }

    .value-card .card{
        width: 100%;
    }

    .teamwork{
        margin-top: -101px !important;
    }

    .compassion{
        margin-top: -30px !important;
    }

    .value-pattern {
        background: #002B9A;
        width: 100%;
        position: relative;
        top: -37px;
        border-radius: 30px;
        height: 200px;
    }

    .value-pattern img {
        margin-left: 111px;
        margin-top: 30px;
        width: 150px;
       
    }
    .value-pattern p {
        left:145px !important;
    }

    .departments{
        height: 800px;
    } 

    .main-pattern-content .pattern-img img {
        padding: 8px;
    }

    .right-content{
        padding: 0px 5px;
    }

    .integrity{
        margin-top: -64px !important;
    }

    .ourteams-card{
        flex-wrap: wrap;
        gap: 3;
    }
}
